.indicator {
  appearance: none;
  border-radius: 9px;
  margin: 2px;
  border: none;
  color: black;
  font-size: 26px;
  padding: 10px 25px;
  cursor: pointer;
}

.indicator-pass {
  background: #5CB85C;
}

.indicator-fail {
  background: #D9534F;
}

.indicator-not-ran {
  background: #DDD;
}

.table-sort {
  margin-left: 5px;
}
.table-sort-inactive {
  opacity: 0.3;
}
